
.upload{
  max-width: 200px;
  height: 200px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 20px;
  position: relative;
}
#file_up{
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}
#file_up::before{
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  top:-52px;
  left: 0;
  background: white;
  color: rgb(250, 200, 107);
  font-size: 10rem;
  text-align: center;
  cursor: pointer;
  margin: auto;
}
#file_img{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background: white;
}
#file_img img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
#file_img span{
  position: absolute;
  top: -13px;
  right: -13px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 3px 10px;
  cursor: pointer;
  font-weight: 900;
  color: crimson;
}
.control-label {
  font-weight: bold;
}
.div-form{
  display: flex;
  justify-content: center;
}
.prod_images_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prod_images {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin: 0 0 1em 0;
  padding: 1em;
  border: 1px solid black;
  position: relative;
  outline: none;


}

.prod_images img {
  margin: 0.5em 0;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}


.prod_images span {
  position: absolute;
  top: -13px;
  right: -13px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 3px 10px;
  cursor: pointer;
  font-weight: 900;
  color: crimson;
}

.form-center {
 width: 55%;
}

.form-control-lg {
  font-size: 1rem !important;
  margin-bottom: 20px;
}

.modal-form {
  margin-top: 1rem;
}

.Same-line {
  white-space: nowrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.form-select {
  font-size: 1rem !important;

}

/* Categories Admin Board */
.buttonMargin {
  margin-right: 10px;
}

/* Login and registration css */

.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.card-body {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.card {
  border-radius: 30px !important;
}

.signBtn {
  width: 75%;
}



@media only screen and (max-width: 480px) {
  .card-body.p-5 {
    padding: 1rem !important;

  }

  .form-center {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (max-width: 900px) and (min-width: 500px) {
  .upload {
    max-width: 250px !important;
    height: 250px !important;
  }
}

.btnLink {
  text-decoration: none !important;
}




/* css from master */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}