.nav-pills-custom {
  .nav-item {
    .nav-link {
      color: #000;
      background: #fff;
      position: relative;

      /* Add indicator arrow for the active tab */
      &::before {
        @media (min-width: 992px) {
          content: '';
          display: block;
          border-top: 8px solid transparent;
          border-left: 10px solid #c4949f;
          border-bottom: 8px solid transparent;
          position: absolute;
          top: 50%;
          right: -10px;
          transform: translateY(-50%);
          opacity: 0;
        }
      }

      &:hover {
        background-color: #c4949f;
        color: #fff;
      }
      &.active {
        color: white;
        background-color: #c4949f;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}
