.product-quote__rightSide__img{
    width:75%;
}
.product-quote__leftSide{
    box-shadow: 0px 20px 80px 0px rgb(0 0 0 / 3%);
}
.product-quote__leftSide h2{
    font-size: 3rem;
}
.product-quote__price-discount{
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-25%,-25%);
}