.cart-card {
  max-width: 70%;
  margin: 20vh auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 50px;
  position: relative;

  .cart-products {
    &__title {
      padding: 25px 0;
      border-bottom: 3px solid #eee;
      display: grid;
      grid-template-columns: 4fr 1fr 1fr 0.2fr;

      span {
        font-weight: 600;
      }
    }
  }

  .cart-summary {
    padding: 30px;
    border: 2px solid #edeff2;
    align-self: start;
    position: sticky;
    top: 0;

    &__title {
      font-size: 18px;
      line-height: 1.6;
      font-weight: 700;
    }

    &__coupon-input {
      margin: 20px 0;

      input:focus {
        outline: none;
        border-color: black;
        box-shadow: none;
      }

      button {
        background-color: black;
        color: white;
        font-weight: 500;
        transition: all 0.2s;

        &:hover {
          background-color: antiquewhite;
          color: black;
        }
      }
    }

    &__subtotal,
    &__coupon,
    &__total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px dashed #eee;

      span:first-child {
        font-weight: 700;
      }

      span {
        padding: 15px 0;
      }
    }

    &__btn {
      width: 100%;
      outline: none;
      border: none;
      border-radius: 5px;
      padding: 10px 0;
      margin-top: 18px;
      background-color: black;
      color: white;
      font-weight: 500;
      transition: all 0.2s;

      &:hover {
        background-color: antiquewhite;
        color: black;
      }
    }
  }
}
